#
# Systemd service configuration file for the apm-app service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the apm-app service.
# 
# Usage: 
# systemdctl status apm-app
# systemdctl start apm-app
# systemdctl stop apm-app
# systemdctl restart apm-app
#

[Unit]
Description=apm-app

[Service]
User=webmaster
Group=webmaster
WorkingDirectory=/home/ec2-user/apm-single-page-app
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /home/ec2-user/apm-single-page-app/dist/main.js
Restart=always

[Install]
WantedBy=multi-user.target



