
<div id="login" class="content u-flex u-flex-column u-justify-center u-items-center" style="height:100%;">
  <div class="bg-gray-200 p-2 u-shadow-md u-round-md" style="border: 1px solid #ABB2B9;">
    <div class="input-control">
      <input 
        type="email" 
        class="w-100p" 
        placeholder="Email" 
        autofocus 
        value="miguelmello@gmail.com"
      />
    </div>
    <div class="input-control">
        <input 
          type="password" 
          class="w-100p" 
          placeholder="Password" 
          value=""
        />
    </div>
    <button id="nw5voqqr71" class="btn-primary m-0 u-pull-right">Login</button>
  </div>
</div>
