
<div id="login" class="content u-flex u-flex-column u-justify-center u-items-center" style="height:100%;">
  <div class="bg-gray-300 p-4 u-shadow-md u-round-md" style="border: 1px solid #ABB2B9;">
    <div class="input-control">
      <input type="email" class="input-contains-icon" placeholder="Email" />
      <span class="icon text-gray-500">&#8811;</span>
    </div>
    <div class="input-control">
        <input type="password" class="input-contains-icon w-100p" placeholder="Password" />
        <span class="icon text-gray-500">&#8811;</span>
    </div>
  </div>
</div>
