
<div class="font-bold">Server Monitoring</div>
<div id="server-monitoring" class="u-flex u-flex-wrap u-gap-3 p-2 bg-primary">
  <div class="bg-warning h-16 w-50p">
    Panel 1
    Panel 1
    Panel 1
    Panel 1
  </div>
  <div class="bg-warning h-16 w-50p">
    Panel 2
    Panel 2
    Panel 2
    Panel 2
  </div>
  <div class="bg-warning h-16 w-50p">
    Panel 3
    Panel 3
    Panel 3
    Panel 3
  </div>
  <div class="bg-warning h-16 w-50p">
    Panel 4
    Panel 4
    Panel 4
    Panel 4
  </div>
  <div class="bg-warning h-16 w-50p">
    Panel 5
    Panel 5
    Panel 5
    Panel 5
  </div>
</div>
