
<div style="height:70px;width:100%;"></div>
<div id="server-monitoring" class="u-flex u-flex-wrap u-items-flex-start mx-2 mb-2">
  <div class="bg-white w-100p font-bold">Server Monitoring</div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="mvlnv7eimf"></canvas>
  </div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="ghv5tux3ol"></canvas>
  </div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="xav5q13tww"></canvas>
  </div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="caurap3x35"></canvas>
  </div>
  <div class="u-center h-16 mb-2 w-100p w-50p-lg">
    <table class="table">
      <
    </table>
  </div>
  <div class="u-center h-16 mb-2 w-100p w-50p-lg">
    Panel 6
  </div>
  <div class="u-center h-screen w-100p"></div>
</div>
