

<div id="server-monitoring" class="u-flex u-flex-wrap u-items-flex-start mx-2 mt-8 mb-2 bg-primary">
  <div class="bg-white w-100p font-bold">Server Monitoring</div>
  <div class="bg-warning h-16 mb-2 w-100p w-50p-md">
    Panel 1
    Panel 1
    Panel 1
    Panel 1
  </div>
  <div class="bg-warning h-16 w-100p w-50p-md">
    Panel 2
    Panel 2
    Panel 2
    Panel 2
  </div>
  <div class="bg-warning h-16 w-100p w-50p-md">
    Panel 3
    Panel 3
    Panel 3
    Panel 3
  </div>
  <div class="bg-warning h-16 w-100p w-50p-md">
    Panel 4
    Panel 4
    Panel 4
    Panel 4
  </div>
  <div class="bg-warning h-16 w-100p w-50p-md">
    Panel 5
    Panel 5
    Panel 5
    Panel 5
  </div>
</div>
