
<div style="height:70px;width:100%;"></div>
<div id="server-monitoring" class="u-flex u-flex-wrap u-items-flex-start mx-2 mb-2">
  <div class="bg-white w-100p font-bold">Server Monitoring</div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="mvlnv7eimf"></canvas>
  </div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="ghv5tux3ol"></canvas>
  </div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="xav5q13tww"></canvas>
  </div>
  <div class="u-relative mb-2 w-100p w-50p-lg">
    <canvas id="caurap3x35"></canvas>
  </div>
  <div class="h-16 mb-2 w-100p w-50p-lg">
    <div class="table-container">
      <table class="table bordered text-smh-16 mb-2 w-100p w-50p-lg">
        <tr>
          <td>Machine ID:</td>
          <td>da4b9f3ad06947bdafa8006cf8f0c49a</td>
        </tr>
        <tr>
          <td>OS:</td>
          <td>Centos 9 Stream</td>
        </tr>
        <tr>
          <td>System time:</td>
          <td>2023-04-24T15:34:33 (BRT)</td>
        </tr>
        <tr>
          <td>Hostname:</td>
          <td>orion-soft.site</td>
        </tr>
        <tr>
          <td>Public IP:</td>
          <td>64.225.0.116</td>
        </tr>
        <tr>
          <td>Uptime:</td>
          <td>156 Days 22 Hours</td>
        </tr>
      </table>      
    </div>
  </div>
  <div class="u-center h-16 mb-2 w-100p w-50p-lg">
    Panel 6
  </div>
  <div class="u-center h-screen w-100p"></div>
</div>
