
<div style="height:70px;width:100%;"></div>
<div id="server-monitoring" class="u-flex u-flex-wrap u-items-flex-start mx-2 mb-2">
  <div class="bg-white w-100p font-bold">Application Logging</div>
  <div class="bg-gray-200 h-16 mb-2 w-100p w-50p-lg u-center">
    Panel 1
  </div>
  <div class="bg-gray-200 h-16 mb-2 w-100p w-50p-lg u-center">
    Panel 2
  </div>
  <div class="bg-gray-200 h-16 mb-2 w-100p w-50p-lg">
    Panel 3
  </div>
  <div class="bg-gray-200 h-16 mb-2 w-100p w-50p-lg">
    Panel 4
  </div>
  <div class="bg-gray-200 h-16 mb-2 w-100p w-50p-lg">
    Panel 5
  </div>
  <div class="bg-gray-200 h-16 mb-2 w-100p w-50p-lg">
    Panel 6
  </div>
  <div class="h-screen w-100p"></div>
</div>
