
<div class="frame">
  <div class="frame__header u-text-center">
      <div>
          <figure class="avatar">
              <img src="/miguel.jpg" title="Avatar"/>
          </figure>
      </div>
      <div>
          <h6 class="frame__title">Miguel Mello</h6>
          <div class="frame__subtitle">Administrador</div>
      </div>
      <div class="row">
        <a class="col" href="#" title="#">Profile</a>
        <a class="col" href="#" title="#">Settings</a>
        <a class="col" href="#" title="#">Help</a>
        <a class="col" href="#" title="#">Logout</a>
      </div>
  </div>
  <div class="divider m-0"></div>
  <div class="frame__body">
    <div class="content u-text-center">
      <div>Server</div>
      <div>CPU Usage</div>
    </div>
  </div>
  <div class="divider m-0"></div>
  <div class="frame__footer">
    <div class="frame__subtitle u-text-center">
      <span>&#169;</span> Copyrigth 2023
    </div>
  </div>
</div>

<div class="u-flex p-2 bg-blue-700 text-white">
  <div class="pr-1 bg-blue-700">
    <span>&#9776;</span>
  </div>
  <div class="pr-1">
    <div class="title">APM</div>
  </div>
  <div class="pr-1 u-text-ellipsis">
    <div>Application Performance Monitoring</div>
  </div>
</div>