
<div class="frame">
  <div class="frame__header" style="background: #eee; padding: 1rem; margin: 1rem">
      <div class="frame__title u-text-center">Frame Title</div>
      <div class="frame__subtitle u-text-center">Frame Subtitle</div>
      <div class="frame__subtitle u-text-center">This is the frame header.</div>
  </div>
  <div class="frame__body" style="background: #eee; padding: 1rem; margin: 1rem">
      <div class="frame__title u-text-center">Frame Body</div>
      <div class="frame__subtitle u-text-center">
          Insert any component here, including a frame navigation menu using<!-- -->
          <code>frame-nav</code>. The frame will auto-expand and if a specific height is set, a scrollbar will appear
          to take care of overflow.
      </div>
      <blockquote class="u-text-center">
          The text-white margins between the gray boxes is to demonstrate how the frame sub sections are separated.
      </blockquote>
  </div>
  <div class="frame__footer" style="background: #eee; padding: 1rem; margin: 1rem">
      <div class="frame__title u-text-center">Frame Footer</div>
      <div class="frame__subtitle u-text-center">Takes up the bottom of the frame.</div>
  </div>
</div>

<div class="u-flex p-2 bg-blue-700 text-white">
  <div class="pr-1 bg-blue-700">
    <span>&#9776;</span>
  </div>
  <div class="pr-1">
    <div class="title">APM</div>
  </div>
  <div class="pr-1 u-text-ellipsis">
    <div>Application Performance Monitoring</div>
  </div>
</div>