
<div  class="u-none frame bg-white w-32 h-screen u-round-none pt-6 u-absolute" id="4t9hltwq4x">
  <div class="frame__header u-text-center">
      <div>
          <figure class="avatar">
              <img src="/miguel.jpg" title="Avatar"/>
          </figure>
      </div>
      <div>
          <h6 class="frame__title">Miguel Mello</h6>
          <div class="frame__subtitle">Administrador</div>
      </div>
  </div>
  <div class="frame__body">
    <div class="content">
      <div>Profile</div>
      <div>Settings</div>
      <div>Help</div>
      <div>Logout</div>
      <div>&nbsp;</div>
      <div class="divider m-0"></div>
      <div>&nbsp;</div>
      <div>Server Metrics</div>
      <div>Server Logging</div>
      <div>Server Resources</div>
      <div>Application Metrics</div>
      <div>Application Logging</div>
      <div>Application Resources</div>
    </div>
  </div>
  <div class="divider m-0"></div>
  <div class="frame__footer">
    <div class="u-text-center">
      <small><span>&#169;</span> Copyrigth 2023</small> 
    </div>
  </div>
</div>

<div class="u-flex p-2 bg-blue-700 text-white" style="z-index: ;">
  <div class="pr-1 bg-blue-700">
    <span class="cursor" id="c93jgrmyln">&#9776;</span>
  </div>
  <div class="pr-1">
    <div class="title">APM</div>
  </div>
  <div class="pr-1 u-text-ellipsis">
    <div>Application Performance Monitoring</div>
  </div>
</div>