<!-- App menu -->
<div  class="u-none frame bg-white h-screen u-shadow-md u-round-none pt-10 u-fixed" 
      style="border: 1px solid #D5D8DC;" id="4t9hltwq4x">
  <div class="frame__header u-text-center">
      <div>
          <figure class="avatar">
              <img src="/miguel.jpg" title="Avatar"/>
          </figure>
      </div>
      <div>
          <h6 class="frame__title">Miguel Mello</h6>
          <div class="frame__subtitle">Administrador</div>
      </div>
  </div>
  <div class="frame__body">
    <div class="content text-sm">
      <div class="clickable">Server Monitoring</div>
      <div class="clickable">Server Logging</div>
      <div class="clickable">Server Resources</div>
      <div class="clickable">Application Monitoring</div>
      <div class="clickable">Application Logging</div>
      <div class="clickable">Application Resources</div>
    </div>
  </div>
  <div class="divider m-0"></div>
  <div class="frame__footer bg-gray-300">
    <div class="u-flex u-gap-2 text-sm">
      <div class="clickable">Profile</div>
      <div class="clickable">Settings</div>
      <div class="clickable">Help</div>
      <div class="clickable" id="r1t2gs8pu6">Logout</div>
    </div>
  </div>
</div>

<!-- Apptool bar -->
<div class="u-flex p-2 bg-blue-700 text-white w-screen u-shadow-md u-fixed">
  <div class="pr-1 bg-blue-700">
    <!-- Menu icon -->
    <span class="cursor" id="c93jgrmyln">&#9776;</span>
  </div>
  <div class="pr-1">
    <!-- Logo -->
    <div class="title">APM</div>
  </div>
  <div class="pr-1 u-text-ellipsis">
    <!-- Description -->
    <div>Application Performance Monitoring</div>
  </div>
</div>

<!-- 
  Modal Dialog 
  This is a modal dialog that will be displayed when 
  the user clicks on the logout button. For now it 
  we are using in here, but in a real production 
  application we should use a component.
-->
<div class="modal modal-animated--zoom-in" id="0dnsghdw75">
  <a href="#searchModalDialog" class="modal-overlay close-btn" aria-label="Close"></a>
  <div class="modal-content" role="document">
      <div class="modal-header">
        <a href="#components" class="u-pull-right" aria-label="Close">&#9932;</a>
        <div class="modal-title">Invite</div>
      </div>
      <div class="modal-body">
          <div class="r">
              <h3 class="font-alt font-light u-text-center">Confirma logout</h3>
            </div>
      </div>
      <div class="modal-footer">
          <div class="form-section u-text-right">
              <a href="#components">
                  <button class="btn btn--sm u-inline-block">Cancel</button>
              </a>
              <a href="#components">
                  <button class="btn-info btn--sm u-inline-block">Confirm</button>
              </a>
          </div>
      </div>
  </div>
</div>
